#nav-links {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  // filter: drop-shadow(-3px 3px 2px #959597);
  color: #3b3b3b;
  font-size: 13px;
  font-weight: 600;
  &:hover {
    text-shadow: none;
    transition: all 0.3s ease-in-out;
    filter: none;
    color: #3a7bf9;
  }
}
